# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb, '1000']
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: [--line-length=96]
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4  # Replace with latest version
    hooks:
      - id: nbqa-black
        args: [--line-length=96]
  - repo: local
    hooks:
      - id: pyflakes
        name: pyflakes
        entry: pyflakes
        language: system
        types: [python]
      - id: flake8
        args: [--ignore=E501]
        name: flake8
        entry: flake8
        language: system
        types: [python]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.1
    hooks:
      - id: pyupgrade
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        verbose: true
        args: [--show-error-codes]
        additional_dependencies: ['types-requests' ,'types-beautifulsoup4']
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort